.employees-table {
    border-collapse: collapse;
    box-shadow: 0 5px 8px rgba(0, 0, 0, .12);
}

.employees-table__header,
.employees-table__body__data {
    text-align: left;
}

.employees-table__body tr:nth-of-type(even) {
    background-color: #edf2f7;
}

.employees-table__header {
    padding: .5rem 3rem .5rem 5rem;
    background-color: #f7fafc;
    font-size: .95rem;
}

.skill-data {
    text-align: right;
}

.employees-table__body__data {
    padding: 1rem 3rem 1rem 5rem;
}

.employee-action {
    background: none;
    border: none;
    font-size: 1rem;
    color: #2b6cb0;
    cursor: pointer;
}

.employee-action:first-of-type {
    border-right: 1px solid #cbd5e0;
    padding-right: .7rem;
}

.employee-action:last-of-type {
    padding-left: .7rem;
}

.add-employee-btn {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    background: none;
    border: none;
    cursor: pointer;

    opacity: .75;
    transition: opacity 110ms ease;
}

.add-employee-btn:hover,
.add-employee-btn:focus {
    opacity: 1;
}

.plus-icon {
    width: 1.5rem;
    margin-right: .25rem;
    stroke: #2b6cb0;
}

.add-employee-btn__span {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .08em;
    color: #2b6cb0;
}